
/* ===== Primary Styles ========================================================
   Author: Emerson Estrella
   ========================================================================== */

    /*
    .row, #maisinfo, #f4_maisinfo, #f3_maisinfo, #f2_maisinfo {
      display: none;
    }
    */

    label.valid {
      width: 24px;
      height: 24px;
      background: url(../img/valid.png) center center no-repeat;
      display: inline-block;
      text-indent: -9999px;
    }

    label.error {
      font-weight: bold;
      color: red;
      padding: 2px 8px;
      margin-top: 2px;
    }
    
    .navbar-fixed-top .brand {
      font-weight: bold;
      color: black;
      text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
      -webkit-transition: all .2s linear;
         -moz-transition: all .2s linear;
              transition: all .2s linear;
    }
    .navbar-fixed-top .brand:hover {
      text-decoration: none;
    }


    #sf_fieldset_availability .content select {
      width: 80px;
    }
    
    input {
      height: auto;
    }
